<%- include("../layout/header.ejs") %>
<h1>Admin Profile</h1>

<h3><%= admin.name %></h3>
<h3><%= admin.email %></h3>

<img
  src="/images/users/<%= admin.image %>"
  alt="<%= admin.name %>"
  height="200"
  width="200"
/>
<br />
<br />
<a href="/admin/dashboard">Dashboard</a>
<br />
<br />
<a href="/admin/logout">logout</a>

<%- include("../layout/footer") %>
